body{
background-color: #FFFAF4;
font-family: 'EB Garamond', serif;
color: #553501;
}

h1{
  font-size:32px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin: 100px 0;
  
}
h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

h1:before {
  left:0;
}
h1:after {
  right: 0;
}
a:hover{
  opacity: 0.8;
  text-decoration: none;
  color: red;
  cursor: pointer;
}
.page_title{
  font-weight: 700;
  transition:all 0.3s ease 0s;
  position: relative;
}
.page_title:after{
  position: absolute;
  content:'';
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background:#DB4277;
  transition: all 0.3s ease 0s;
}
.page_title:hover.page_title:after{
  width: 100%;
}


input[type=submit] {
  font-family: FontAwesome;
}

html:after{
  content:"";
  background-image: url("https://d9cb344eccff467eb8d517a05c4b5437.vfs.cloud9.us-east-1.amazonaws.com/images/dish.jpg")
}
.success{
  color:green;
}
.error{
    color:red;
}
.column_wrapper{
  width: 1000px;
  margin: 0 auto;
  /*margin-top: 200px;*/
}

.required:before {
  margin-left: 1.0em;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #C44;
  content: "必須";
}
.image{
  width:250px;
  height: 250px;
  border-radius:5px;
  background-position: center;
  background-size:contain;
  background-repeat:no-repeat;
  display: inline-block;
  text-decoration: none;
}
.top_view{
  width: 70%;
  height: 100vh;
  padding: 56px 0px;
   background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  position: relative;
}
.top_content{
  background-color:#fff;
  width: 50%;
  height: 20%;
  opacity: 0.9;
  position: absolute;
  top:50%;
  right: -250px;
  padding: 15px;
}
.top_title{
  font-size: 32px;
}
.top_content span{
  font-size: 18px;
}
.title_wrapper{
  width: 400px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.recipe_wrapper{
  
}
.recipe_wrapper.article{
  height: 250px;
  margin-top: 20px;
}
.recipe_container{
  border-bottom: 1px solid #DB4277;
  margin-bottom: 20px;
  padding: 30px;
  
}
.article .flex figure{
  height: 250px;
  width: 250px;
  margin: 0;
}
.article_info{
  display: inline-block;
  padding:30px;
  width: 500px;
}
.recipe_title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.article_category{
  background-color: #FFF687;
	border-radius: 15px;
	color: #000000;
	padding: 5px 8px 5px 8px;
}
.article_date{
  color: #8B8B8B;
	margin-left: 1rem;
}
.article_info p{
  margin-top: 5px;
  padding:10px;
}
.login_view{
  width: 100%;
  height:100vh;
  padding: 100px 0;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  position: relative;
}
.register_view{
  width: 100%;
  height:100%;
  padding: 100px 0;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  position: relative;
}
.register{
  margin-top: 20px;
}
.register_button{
  margin-bottom: 20px;
}
.login_menu li{
  margin-right: 10px;
}
.recipe_flex{
  display:flex;
}

aside .widget{
  box-shadow:1px 1px 5px rgba(0,0,0,0.3);
  background-color:#fff;
  border-radius:5px;
  margin-top: 30px;
  min-height: 300px;
  padding-left: 18px;
  padding-right: 18px;
}
.widget_title{
  border-bottom: 1px solid #4DBFA5;
  display: block;
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.widget ul li{
  border-bottom:1px dashed #b5b5b5;
  color:#686868;
  font-size: 20px;
  padding:20px 0;
}
 .widget ul li:last-child { 
   border-bottom: none;
 } 
.widget ul li span{
  background-color: #FAFAFA;
  border:1px solid #686868;
  border-radius:20px;
  color:#090909;
  padding: 3px 10px;
  margin-left: 10px;
}

label input{
  display: block;
  width: 100%;
}

.login_container{
  width: 300px;
  margin: 0 auto;
}


.button{
  padding: 3px;
  background: #DB4277;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  border:none;
  border-bottom:solid 4px #627295;
}
.button:hover{
  opacity: 0.9;
}
.button:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.button_comment{
  margin-top: 20px;
}

.follow{
  cursor: pointer;
}

.user_profile{
  padding-top: 100px;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.profile_image{
  width:100%;
  height: 250px;
  border-radius:5px;
  background-position: center;
  background-size:contain;
  background-repeat:no-repeat;
  display: inline-block;
  text-decoration: none;
}
dt{
  margin-bottom: 20px;
}
.category_wrapper{
  padding-top: 200px;
}
.materials{
  display:flex;
}
.materials input {
  margin-right:20px;
}

.footer {
  background: #3E3E3E;
  margin-top:100px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 200px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .footer-wrapper {
    padding: 60px 16px;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .footer-icon {
    padding-left: 120px;
    margin-bottom: 42px;
  }
}

.footer-icon a {
  margin-right: 32px;
  text-decoration: none;
  opacity: 0.6;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer-icon a {
    margin-right: 50px;
  }
}

.footer-info p {
  color: #fff;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .footer-info p {
    margin-bottom: 26px;
  }
}

.footer-info p:last-child {
  margin-bottom: 0;
}

.footer-right {
  text-align: right;
  margin-left: auto;
}

.footer-title {
  color: #E3E3E3;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 767px) {
  .footer-title {
    text-align: center;
    margin-bottom: 12px;
  }
}

.footer-subtitle {
  color: #fff;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.6;
  display: block;
}

.page-top {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 767px) {
  .page-top {
    right: 40px;
    bottom: 15px;
    width: 50px;
    height: 50px;
  }
}


.to-top:hover {
  opacity: 0.7;
}
